In [1]:
import pandas as pd

In [2]:
start_df = pd.read_csv("datasets/data.csv")

start_df=start_df.drop(["Series Code"],axis=1)
start_df.rename(columns={'2014 [YR2014]':'2014',
       '2015 [YR2015]':'2015', '2016 [YR2016]':'2016', '2017 [YR2017]':'2017', '2018 [YR2018]':'2018',
       '2019 [YR2019]':'2019'},inplace=True)
start_df.head()

,Country Name,Country Code,Series Name,2014,2015,2016,2017,2018,2019
0,Afghanistan,AFG,Cost of business start-up procedures (% of GNI...,15.1,19,19.9,82.3,6.4,6.8
1,Afghanistan,AFG,"Cost of business start-up procedures, female (...",15.1,19,19.9,82.3,6.4,6.8
2,Afghanistan,AFG,"Cost of business start-up procedures, male (% ...",15.1,19,19.9,82.3,6.4,6.8
3,Afghanistan,AFG,Time required to start a business (days),8.5,8.5,8.5,8.5,8.5,8.5
4,Afghanistan,AFG,"Time required to start a business, female (days)",9,9,9,9,9,9

In [3]:
start_df = start_df.drop(start_df.tail(5).index)
start_df.tail(50)

,Country Name,Country Code,Series Name,2014,2015,2016,2017,2018,2019
6600,Upper middle income,UMC,Cost of business start-up procedures (% of GNI...,15.572,15.38,15.85,15.096,14.09,12.896
6601,Upper middle income,UMC,"Cost of business start-up procedures, female (...",15.574,15.38,15.85,15.096,14.09,12.896
6602,Upper middle income,UMC,"Cost of business start-up procedures, male (% ...",15.572,15.38,15.85,15.096,14.09,12.896
6603,Upper middle income,UMC,Time required to start a business (days),28.048,27.662,26.868,23.178,20.274,19.764
6604,Upper middle income,UMC,"Time required to start a business, female (days)",28.087,27.7008,26.9076,23.2176,20.3042,19.7937
6605,Upper middle income,UMC,"Time required to start a business, male (days)",28.007,27.6208,26.8276,23.1376,20.2442,19.7337
6606,Upper middle income,UMC,Unemployment with advanced education (% of tot...,..,..,..,..,..,..
6607,Upper middle income,UMC,"Unemployment with advanced education, female (...",..,..,..,..,..,..
6608,Upper middle income,UMC,"Unemployment with advanced education, male (% ...",..,..,..,..,..,..
6609,Upper middle income,UMC,Unemployment with intermediate education (% of...,..,..,..,..,..,..
6610,Upper middle income,UMC,"Unemployment with intermediate education, fema...",..,..,..,..,..,..
6611,Upper middle income,UMC,"Unemployment with intermediate education, male...",..,..,..,..,..,..
6612,Upper middle income,UMC,Unemployment with basic education (% of total ...,..,..,..,..,..,..
6613,Upper middle income,UMC,"Unemployment with basic education, female (% o...",..,..,..,..,..,..
6614,Upper middle income,UMC,"Unemployment with basic education, male (% of ...",..,..,..,..,..,..
6615,Upper middle income,UMC,"Labor force participation rate for ages 15-24,...",..,..,..,..,..,..
6616,Upper middle income,UMC,"Labor force participation rate for ages 15-24,...",..,..,..,..,..,..
6617,Upper middle income,UMC,"Labor force participation rate for ages 15-24,...",..,..,..,..,..,..
6618,Upper middle income,UMC,Interest rate spread (lending rate minus depos...,6.06012447369171,6.48416666666667,6.21963333333334,5.44958333333333,5.18857394229608,5.71455
6619,Upper middle income,UMC,Average time to clear exports through customs ...,..,..,..,..,..,..
6620,Upper middle income,UMC,Logistics performance index: Overall (1=low to...,2.76580753658537,..,2.68388715,..,2.71769230769231,..
6621,Upper middle income,UMC,"Time to export, border compliance (hours)",53.19901716,52.11901716,50.90542976,50.58542976,48.56542976,48.03002662
6622,Upper middle income,UMC,"Time to export, documentary compliance (hours)",49.21061474,48.01061474,45.84723794,45.60723794,45.33580294,44.47580294
6623,Upper middle income,UMC,"Time to import, border compliance (hours)",51.71015408,50.56015408,50.56570968,49.51724818,46.15404618,45.13404612
6624,Upper middle income,UMC,"Time to import, documentary compliance (hours)",52.61540162,51.17540162,46.77297742,45.01297742,43.52897742,42.16497742
6625,World,WLD,Cost of business start-up procedures (% of GNI...,28.8783068783069,28.15,26.9826315789474,26.4457894736842,23.9994764397906,19.7753926701571
6626,World,WLD,"Cost of business start-up procedures, female (...",28.8798941798942,28.1510526315789,26.9836842105263,26.4468421052631,24.0005235602094,19.7759162303665
6627,World,WLD,"Cost of business start-up procedures, male (% ...",28.8761904761905,28.1478947368421,26.9810526315789,26.4436842105263,23.9979057591623,19.7738219895288
6628,World,WLD,Time required to start a business (days),24.3005291005291,23.4047368421053,23.0063157894737,21.4957894736842,20.5010471204188,19.5984293193717
6629,World,WLD,"Time required to start a business, female (days)",24.3695238095238,23.4728947368421,23.0753684210526,21.5623947368421,20.5646596858639,19.6590314136126
6630,World,WLD,"Time required to start a business, male (days)",24.2425396825397,23.3465789473684,22.949052631579,21.4413421052632,20.4494764397906,19.5490837696335
6631,World,WLD,Unemployment with advanced education (% of tot...,..,..,..,..,..,..
6632,World,WLD,"Unemployment with advanced education, female (...",..,..,..,..,..,..
6633,World,WLD,"Unemployment with advanced education, male (% ...",..,..,..,..,..,..
6634,World,WLD,Unemployment with intermediate education (% of...,..,..,..,..,..,..
6635,World,WLD,"Unemployment with intermediate education, fema...",..,..,..,..,..,..
6636,World,WLD,"Unemployment with intermediate education, male...",..,..,..,..,..,..
6637,World,WLD,Unemployment with basic education (% of total ...,..,..,..,..,..,..
6638,World,WLD,"Unemployment with basic education, female (% o...",..,..,..,..,..,..
6639,World,WLD,"Unemployment with basic education, male (% of ...",..,..,..,..,..,..
6640,World,WLD,"Labor force participation rate for ages 15-24,...",..,..,..,..,..,..
6641,World,WLD,"Labor force participation rate for ages 15-24,...",..,..,..,..,..,..
6642,World,WLD,"Labor force participation rate for ages 15-24,...",..,..,..,..,..,..
6643,World,WLD,Interest rate spread (lending rate minus depos...,5.84285291866865,5.64572487133692,5.7410489146788,5.54710053144595,5.50367633376446,5.78333333333333
6644,World,WLD,Average time to clear exports through customs ...,..,..,..,..,..,..
6645,World,WLD,Logistics performance index: Overall (1=low to...,2.8942791625,..,2.88372565625,..,2.86625,..
6646,World,WLD,"Time to export, border compliance (hours)",60.6228869593583,60.4387228265958,59.714333837234,58.3029233531915,55.4697972613757,52.8693279542553
6647,World,WLD,"Time to export, documentary compliance (hours)",54.9929178716578,53.9424236276596,52.9016848510638,51.1016610425532,48.1589036825397,44.5555963510638
6648,World,WLD,"Time to import, border compliance (hours)",76.2187782641711,76.1670827414894,76.6927279542553,74.5023111989362,69.8342389174603,66.9454952787234
6649,World,WLD,"Time to import, documentary compliance (hours)",73.045653540107,69.7767930957447,66.7728374574468,65.0591126702128,60.5644087407407,53.0489071914894

In [4]:
start_df.columns

Index(['Country Name', 'Country Code', 'Series Name', '2014', '2015', '2016',
       '2017', '2018', '2019'],
      dtype='object')

In [5]:
start_df['Series Name'].unique()

array(['Cost of business start-up procedures (% of GNI per capita)',
       'Cost of business start-up procedures, female (% of GNI per capita)',
       'Cost of business start-up procedures, male (% of GNI per capita)',
       'Time required to start a business (days)',
       'Time required to start a business, female (days)',
       'Time required to start a business, male (days)',
       'Unemployment with advanced education (% of total labor force with advanced education)',
       'Unemployment with advanced education, female (% of female labor force with advanced education)',
       'Unemployment with advanced education, male (% of male labor force with advanced education)',
       'Unemployment with intermediate education (% of total labor force with intermediate education)',
       'Unemployment with intermediate education, female (% of female labor force with intermediate education)',
       'Unemployment with intermediate education, male (% of male labor force with intermediate education)',
       'Unemployment with basic education (% of total labor force with basic education)',
       'Unemployment with basic education, female (% of female labor force with basic education)',
       'Unemployment with basic education, male (% of male labor force with basic education)',
       'Labor force participation rate for ages 15-24, total (%) (national estimate)',
       'Labor force participation rate for ages 15-24, female (%) (national estimate)',
       'Labor force participation rate for ages 15-24, male (%) (national estimate)',
       'Interest rate spread (lending rate minus deposit rate, %)',
       'Average time to clear exports through customs (days)',
       'Logistics performance index: Overall (1=low to 5=high)',
       'Time to export, border compliance (hours)',
       'Time to export, documentary compliance (hours)',
       'Time to import, border compliance (hours)',
       'Time to import, documentary compliance (hours)'], dtype=object)

In [6]:
emptycountries=start_df[(start_df["Series Name"] == "Cost of business start-up procedures (% of GNI per capita)") & (start_df["2014"]=='..')
           & (start_df["2015"]=='..') & (start_df["2016"]=='..') & (start_df["2017"]=='..') & (start_df["2018"]=='..')
           & (start_df["2019"]=='..')]['Country Name'].unique()

In [7]:
emptycountries.tolist()

['American Samoa',
 'Andorra',
 'Aruba',
 'Bermuda',
 'British Virgin Islands',
 'Cayman Islands',
 'Channel Islands',
 'Cuba',
 'Curacao',
 'Faroe Islands',
 'French Polynesia',
 'Gibraltar',
 'Greenland',
 'Guam',
 'Isle of Man',
 "Korea, Dem. People's Rep.",
 'Macao SAR, China',
 'Monaco',
 'Nauru',
 'New Caledonia',
 'Northern Mariana Islands',
 'Sint Maarten (Dutch part)',
 'St. Martin (French part)',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Virgin Islands (U.S.)',
 'Not classified']

In [8]:
new_df=pd.DataFrame()
newarr=[]
    
for index,row  in start_df.iterrows(): 
    if row['Country Name'] not in emptycountries:
        newarr.append(row) 

new_df=pd.DataFrame(newarr)
new_df.count()

Country Name    5950
Country Code    5950
Series Name     5950
2014            5950
2015            5950
2016            5950
2017            5950
2018            5950
2019            5950
dtype: int64

In [9]:
new_df.head()

,Country Name,Country Code,Series Name,2014,2015,2016,2017,2018,2019
0,Afghanistan,AFG,Cost of business start-up procedures (% of GNI...,15.1,19,19.9,82.3,6.4,6.8
1,Afghanistan,AFG,"Cost of business start-up procedures, female (...",15.1,19,19.9,82.3,6.4,6.8
2,Afghanistan,AFG,"Cost of business start-up procedures, male (% ...",15.1,19,19.9,82.3,6.4,6.8
3,Afghanistan,AFG,Time required to start a business (days),8.5,8.5,8.5,8.5,8.5,8.5
4,Afghanistan,AFG,"Time required to start a business, female (days)",9,9,9,9,9,9

In [10]:
new_df.to_csv('datasets/clean_data.csv', index=False)

In [11]:
# columns to keep (Country Name, Series Name, and the year columns)
cols_to_keep = ['Country Name', 'Series Name', '2014', '2015', '2016', '2017', '2018', '2019']

# reshaping the df using melt()
df_melted = pd.melt(new_df[cols_to_keep], id_vars=['Country Name', 'Series Name'], var_name='year', value_name='value')
df_melted.head()

  Country Name                                        Series Name  year value
0  Afghanistan  Cost of business start-up procedures (% of GNI...  2014  15.1
1  Afghanistan  Cost of business start-up procedures, female (...  2014  15.1
2  Afghanistan  Cost of business start-up procedures, male (% ...  2014  15.1
3  Afghanistan           Time required to start a business (days)  2014   8.5
4  Afghanistan   Time required to start a business, female (days)  2014     9

In [12]:
# coverting values to numeric
df_melted['value'] = pd.to_numeric(df_melted['value'], errors='coerce')

In [13]:
df_melted["Country Name"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cyprus', 'Czechia', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong SAR, China', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Korea, Rep.', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia, Fed. Sts.', 'Moldova', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovak Republic',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Sudan', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis',
       'St. Lucia', 'St. Vincent and the Grenadines', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkiye', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, RB', 'Vietnam',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe',
       'Africa Eastern and Southern', 'Africa Western and Central',
       'Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World'], dtype=object)

In [14]:
df_melted.to_csv('datasets/melted_data.csv', index=False)